.App {
  text-align: center;
}

.logoImage{
  width: 10%;
  color: yellow;
}

.container{
  display: flex;
  flex-direction:row;
  justify-content:center;
}

.top-container{
  display: flex;
  align-self: center;
}

.contact{
  margin:0px;
}